* {
  padding: 0px;
  margin : 0px;
}
body {
    background-color: lightblue;
}
#container{
display: flex;
justify-content: space-around;
align-items: center;
margin: 20px 40px;
}

table, th, td {
  text-align: center;
  padding: 20px 30px;
  border: solid;
  border-collapse: collapse;
  border-color: black;
}
h1{
  padding: 20px;
}
