<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">
    <title>home</title>
</head>
<body>
        <table>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Created at</th>
            </tr>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.created_at}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>first Name</th>
                <th>last Name</th>
                <th>Age</th>
            </tr>
            
                {% for ninja in data.ninjas %}
                    <tr>
                        <td>{{ninja.first_name}}</td>
                        <td>{{ninja.last_name}}</td>
                        <td>{{ninja.age}}</td>
                    </tr>
                {% endfor %}
        </table>


        
        <a href="/">Home</a>

</body>
</html>
